NOSTR_PRIVATE_KEY=7fc8163fc99c92bacf78d80d610fe7fd2bf9f7684ef987e4ad4fed4591183484
NOSTR_RELAYS=wss://soloco.nl/,wss://relay.damus.io

SERVICE_NAME='Workflow runner'
SERVICE_ABOUT='This DVM runs git workflows'
SERVICE_PICTURE_URL=https://i.pinimg.com/564x/2c/51/89/2c518940554d81547f68d0ee5136756e.jpg

ACT_EXECUTABLE_PATH=bin/act
ACT_DEFAULT_IMAGE=ubuntu-latest=catthehacker/ubuntu:act-latest
GITHUB_TOKEN=github_pat_xxxx

# Money
PROFITS_PUBKEY="2345678nbkhgkjdhs"
PROFIT_PAYOUT_THRESHOLD="15"
MINT_URL="https://testnut.cashu.space"
PRICE_UNIT="sat"
PRICE_PER_SEC=0.25